nav.header {
  background: #fff;
  border-bottom: 1px solid #ededed;
  height: 80px;
}

.header-logo {
  width: 138px;
}

.header .nav-item {
  color: #4A4A4A !important;
}

.header .nav-item:hover {
  text-decoration: none;
}
